.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #141414;
}

.netflix-spinner {
  display: flex;
  gap: 8px;
}

.netflix-spinner div {
  width: 12px;
  height: 12px;
  background-color: #e50914;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.netflix-spinner div:nth-child(1) {
  animation-delay: -0.32s;
}
.netflix-spinner div:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.banner-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  z-index: 1;
}

.banner {
  position: absolute;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 3em;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.banner.active {
  opacity: 1;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.6) 40%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.banner-text-area {
  position: relative;
  z-index: 2;
  max-width: 60%;
}

.banner-text-area h1 {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 0.5em;
  text-align: left;
  width: 430px;
}

.banner-text-area p {
  font-size: 0.9em;
  line-height: 1.4;
  margin-bottom: 1.5em;
  text-align: left;
}

.banner-buttons {
  display: flex;
  gap: 1em;
}

.banner-buttons button {
  cursor: pointer;
  font-weight: bold;
  padding: 0.6em 1.5em;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  transition: all 0.3s ease;
}

.play-btn {
  font-size: 1em !important;
  padding: 0em 1.5em !important;
  background-color: white;
  color: black;
}

.play-btn:hover {
  background-color: #e6e6e6;
}

.play-icon {
  font-size: 1.2em;
  margin: 0.2em 0.6em 0.4em 0.1em;
}

.info-btn {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
  padding: 0.3em 1.5em !important;
}

.info-btn:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.info-icon {
  font-size: 1.5em;
  margin: 0.2em 0.6em 0.4em 0em;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  padding: 0.1em 0.5em 0.3em 0.5em;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.7);
}

.arrow.left,
.arrow.right {
  top: 190px;
}

.arrow.left {
  left: 47px;
}

.arrow.right {
  right: 47px;
}

.dots {
  position: absolute;
  bottom: 15px;
  right: 40px;
  text-align: right;
  z-index: 3;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.dot.active {
  background-color: white;
}

@media (max-width: 768px) {
  .banner-container {
    height: 60vh;
  }
  .banner {
    height: 60vh;
    padding: 40px 35px;
  }
  .banner-text-area {
    max-width: 70%;
  }
  .banner-text-area h1 {
    font-size: 1.5em;
  }
  .banner-text-area p {
    font-size: 0.6em;
  }
  .play-btn,
  .info-btn {
    font-size: 0.8em !important;
  }
  .arrow {
    font-size: 1em;
  }
  .arrow.left,
  .arrow.right {
    top: 140px;
  }
  .arrow.left {
    left: 35px;
  }
  .arrow.right {
    right: 35px;
  }
  .dot {
    width: 4px;
    height: 4px;
  }
}

@media (max-width: 480px) {
  .banner-container {
    height: 45vh;
  }
  .banner {
    height: 45vh;
    padding: 40px 30px;
  }
  .banner-text-area h1 {
    font-size: 1em;
    width: 160px;
    word-break: keep-all;
  }
  .banner-text-area p {
    font-size: 0.4em;
  }
  .banner-buttons button {
    font-size: 0.5em !important;
    padding: 0.4em 1em;
  }
  .arrow {
    display: none;
  }
  .dot {
    width: 3px;
    height: 3px;
  }
}
